$key = "password"
$server = "127.0.0.1"
$port = 80
$mysql_host = "127.0.0.1"
$mysql_user = "root"
$mysql_pass = ""
$mysql_db = "tracker"
$user = 65534
$group = 65534

$include_key = true
$include_timestamp = false
$include_gps_date = false
$include_gps_time = false
$include_latitude = true
$include_longitude = true
$include_speed = true
$include_altitude = true
$include_heading = true
$include_hdop = true
$include_satellites = true
$include_battery_level = true
$include_ignition_state = true
$include_engine_running_time = true

$timestamp_use = 'server'  # server, gsm or gps

$show_received = true
$debug = false

$detect_engineoff_movement = true
$engineoff_movement_threshold = 10

$detect_enginestart_athome = true
$athome_file = "/home/user/.at_home" # set to 1 when at home

$detect_enginestart_overnight = true
$enginestart_overnight_from = '00:00'
$enginestart_overnight_to = '07:00'

$prowl_api_key = ''

$log_journeys = true
